<h1>Welcome to the {{ title }} page!</h1>

<p>A web app made by {{author}}.</p>

<p>You logged into this webpage on {{currentLoadedDate}}.</p>

<p><a href="/feedback-form">Submit feedback here!</a></p>
